.bg-custom {
    background-color: #fff6e7 !important;
}

.container-distance {
    margin-top: 80px;
    padding: 2rem;
    border-radius: 10px;
}

.bg-custom h2 {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.text-area-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.itens-cadastro-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 1.5rem;
}


.container-categ-img {
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 2rem
}

.card-container {
    max-width: 20rem;
}

.cardImg {
    object-fit: cover;
    max-height: 10rem;
}

.container-cards-mobile {
    display: none;
}

@media (max-width: 992px) {
    .container-cards-mobile {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }

    .tabela-responsiva {
        display: none;
    }

    .itens-cadastro-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        margin-bottom: 1.5rem;
    }

    .container-categ-img {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem
    }
}

table {
    font-family: 'Bellota', cursive;
}

table td {
    padding: 2rem !important;
}

h1,
h2 {
    font-family: 'Bellota', cursive;
}

form {
    font-family: 'Bellota', cursive;
}