.mainContainer {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 1/4 e 3/4 */
  gap: 1rem;
}

.jacquinImg{
  margin: 0 auto;
  max-height: 500px;
  object-fit: contain;
  border-radius: 10px;
  display: block;
}

@media (max-width: 950px) {
  .mainContainer {
    grid-template-columns: 1fr;
    /* Uma coluna apenas */
  }
}