.mainContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: calc(100vh - 70px);
  padding: 0;
  gap: 2rem;;
}

.titulo {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-family: "Julius Sans One", sans-serif;
}

.jacquinImg {
  width: 100%;
  object-fit: contain;
  display: block;
  margin-bottom: 1rem;
}

@media (max-width: 950px) {
  .mainContainer {
    grid-template-columns: 1fr;
  }
  .jacquinImg{
    max-height: 20rem;
    margin: 0;
  }
}