.mainContainer {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 1/4 e 3/4 */
  min-height: calc(100vh - 70px);
  padding: 0;
}

.jacquinImg{
width: 100%;
  object-fit: contain;
  border-radius: 10px;
  display: block;
}

@media (max-width: 950px) {
  .mainContainer {
    grid-template-columns: 1fr;
    /* Uma coluna apenas */
  }
}