.logo-titulo {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 100px
}
.jacquin{
    font-size: larger;
    font-weight: bold;
}

.seta{
    
}